<!--
    @description       : 
    @author            : Amit Singh
    @group             : 
    @last modified on  : 12-25-2020
    @last modified by  : Amit Singh
    Modifications Log 
    Ver   Date         Author       Modification
    1.0   12-25-2020   Amit Singh   Initial Version
-->
<template>
    <lightning-card  variant="Narrow"  title="Dynamic Component" 
        icon-name="custom:custom34">
        <p class="slds-p-horizontal_small">
            this is parent Component
            <br/>
            <lightning-button variant="neutral" label="Switch Template"
                icon-name="utility:setup" onclick={handleClick}>
            </lightning-button>
        </p>
        <p slot="footer">Card Footer</p>
    </lightning-card>
</template>