<template>
    <c-custom-permissions></c-custom-permissions>
    <lightning-button variant="base" label="Switch Template" icon-name="utility:setup" title="titleName" 
        onclick={stchTmpl}></lightning-button>
</template>