<template>
    <lightning-card  variant="Narrow" 
        title="Temlate 1" icon-name="standard:account">
        <lightning-button-icon  icon-name="utility:down" variant="border-filled" alternative-text="Show More" slot="actions"></lightning-button-icon>
        <p class="slds-p-horizontal_small">
            Card Body Narrow (custom component) - template one
            <br/>
            <lightning-button variant="success" 
                label="Switch Template" onclick={handleClickTempl2}></lightning-button>
        </p>
        <p slot="footer">Card Footer</p>
    </lightning-card>
</template>