<template>
    <lightning-card  variant="Narrow"  title="Hello" icon-name="standard:account">
        
        <p class="slds-p-horizontal_small">
            <lightning-button variant="brand"
                label="Switch Template" onclick={changeTemplate}  icon-name="utility:setup"
            ></lightning-button>
        </p>
        <p slot="footer">Card Footer</p>
    </lightning-card>
</template>