<!--
    @description       : 
    @author            : Amit Singh
    @group             : 
    @last modified on  : 12-25-2020
    @last modified by  : Amit Singh
    Modifications Log 
    Ver   Date         Author       Modification
    1.0   12-25-2020   Amit Singh   Initial Version
-->
<template>
    <h1> Hello {name} </h1>
    <p>
        Student Name {studentRecord.name}
    </p>

    <p>
        <template if:true={studentRecords} for:each={studentRecords} for:item="record" for:index="index">
            <li key={record.name}>
                    Student Name {record.name} <br/>
            </li>
        </template>
    </p>

    <lightning-button variant="brand" 
        label="Click Me" title="Click Me" 
        onclick={handleClick}>
    </lightning-button>
</template>