<!--
    @description       : 
    @author            : Amit Singh
    @group             : 
    @last modified on  : 12-26-2020
    @last modified by  : Amit Singh
    Modifications Log 
    Ver   Date         Author       Modification
    1.0   12-26-2020   Amit Singh   Initial Version
-->
<template>
    <lightning-card title="Publisher Component" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            <p>MessageChannel: SampleMessageChannel</p>
            <br>
            <lightning-button label="Publish" variant="brand" onclick={handleClick}></lightning-button>
        </div>
    </lightning-card>
</template>