<!--
    @description       : 
    @author            : Amit Singh
    @group             : 
    @last modified on  : 12-26-2020
    @last modified by  : Amit Singh
    Modifications Log 
    Ver   Date         Author       Modification
    1.0   12-26-2020   Amit Singh   Initial Version
-->
<template>
    <lightning-card  variant="Narrow"  title="Hello" icon-name="standard:account">
        <lightning-button-icon  icon-name="utility:down" variant="border-filled" alternative-text="Show More" slot="actions"></lightning-button-icon>
        <p class="slds-p-horizontal_small">Card Body Narrow (custom component)</p>
        <p slot="footer">Card Footer</p>
    </lightning-card>
</template>