<!--
    @description       : 
    @author            : Amit Singh
    @group             : 
    @last modified on  : 12-26-2020
    @last modified by  : Amit Singh
    Modifications Log 
    Ver   Date         Author       Modification
    1.0   12-26-2020   Amit Singh   Initial Version
-->

<template>
    <lightning-card title="Subscriber Component" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            <p>MessageChannel: SampleMessageChannel</p>
            <br />
            <lightning-button
                label="Subscribe"
                variant="brand"
                disabled={isDisabled}
                onclick={subscribeMC}
            >
            </lightning-button>
            &nbsp; &nbsp;
            <lightning-button
                label="Unsubscribe"
                variant="destructive"
                disabled={isDisabledUnsb}
                onclick={unsubscribeMC}
            >
            </lightning-button>
            <br />
            <p>Received message:</p>
            <textarea
                id="receivedMessageTextArea"
                style="width: 435px;height: 200px;"
                class="textareaReceivedMessage"
                rows="7"
                disabled>
                {receivedMessage}
            </textarea>
        </div>
    </lightning-card>
</template>