<!--
    @description       : 
    @author            : Amit Singh
    @group             : 
    @last modified on  : 12-25-2020
    @last modified by  : Amit Singh
    Modifications Log 
    Ver   Date         Author       Modification
    1.0   12-25-2020   Amit Singh   Initial Version
-->
<template>
    <h2>
        I am shared inside h2
    </h2>
</template>